.wsinfolabel {
  font-weight: 800;
  color: rgb(128, 128, 128);
}

.wsinfocollapse.ant-collapse-borderless
  > .ant-collapse-item
  > .ant-collapse-content {
  background-color: white;
  border-radius: 0px;
}
