.scrollcontainer {
    border: 1px solid rgba(5, 5, 5, 0.1);
    display: flex;
    justify-items: stretch;
    position: relative;
}

.scrolllist {
    position: absolute;
    overflow: auto;
    top: 0rem;
    left: 0rem;
    bottom: 0rem;
    right: 0rem;
}

.toolbar {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    gap: 1rem;
}

.topToolbar {
    position: absolute;
    top: 3rem;
    right: 1rem;
    display: flex;
    gap: 1rem;
}
